#projectContainer{
    max-width: 100%;
    height:695px;
    margin-right:auto;
    margin-left:auto;
    background-size: cover;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.appDescription{
    margin-top: 140px;
    font-size: 17px
}

#GAMRid{
    background-image: url("../../images/GAMR.png");
    height: 325px;
    background-size: cover;
}

#GAMRrow{
    background-color: navy;
}

#Savorid{
    background-image: url("../../images/Savor.jpg");
    height: 325px;
    background-size: cover;
}

#SavorRow{
    background-color: white;
    color: navy;
}

#NYTid{
    background-image: url("../../images/NYT.jpg");
    height: 325px;
    background-size: cover;
}

#NYTrow{
    background-color: navy;
}

#nav{
}